<div ng-controller="DesktopCtrl" id="desktop" class="app" style="min-width: 285px">
  <div id="header" class="page-header">
    <h1 class="title">{{settings.title}}</h1>
    <div>
      <div ng-show="settings.view === 'Month'">
        <div class="btn-group nav-btn">
          <button class="btn btn-default direction" data-calendar-nav="prev">&lt;&lt; Prev</button>
          <button class="btn btn-default today" data-calendar-nav="today">Today</button>
          <button class="btn btn-default direction" data-calendar-nav="next">Next &gt;&gt;</button>
        </div>
        <h3 id="current-view" class="current-view"></h3>
      </div>
    </div>
    <span class="description">{{settings.description}}</span>
  </div>
  <div ng-show="settings.view === 'Month'">
    <div id="calendar" class="desktop-calendar"></div>
  </div>
  <ul ng-if="settings.view === 'List'" class="event-list ">
    <li ng-repeat="event in eventList" class="events">
      <a class="event-details event-title" ng-click="openModal($index)">{{event.title}}</a>
      <a class="event-details event-time" ng-click="openModal($index)">{{event.day}} | {{event.time}}</a>
      <div class="clear" ng-style="listStyle($last)"></div>
    </li>
  </ul>
  <!-- <ul id="eventlist" class="nav nav-list"></ul> -->
</div>