<div ng-controller="ModalCtrl">
  <p ng-if="!validEvent">
    No valid event selected
  </p>
  <div ng-if="validEvent">
    Modal
  </div>

  <div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="messageTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="messageTitle">{{messageTitle}}</h4>
        </div>
        <div class="modal-body">
          {{messageBody}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
