<div ng-controller="SettingsCtrl">
  <header class="box">
    <div class="logo">
      <img width="86" src="client/images/wix_icon.png">
    </div>
    <div ng-hide="false">
      <p>
        Connect your Facebook account. This process is secure and completely private. Wix will not have access to your Facebook password.
      </p>
      <div class="login-panel">
        <p class="create-account">
          Don't have an account?
          <br>
          <strong>
            <a class="link" href="http://www.facebook.com" target="_blank">Create one</a>
          </strong>
        </p>
        <button class="uilib-btn connect">
          Connect account
        </button>
      </div>
    </div>
    <div ng-show="false">
      <p>
        <span class="icon-check-mark-circle checkmark" data-icon="a"></span>
        You are now connected to Jeffrey Chan's Facebook account.
      </p>
        <a class="disconnect-account" target="_blank|_parent">
          Disconnect Account
        </a>
    </div>
  </header>
  <div wix-ctrl="Accordion">
    <div class="acc-pane">
      <h3 class="events">
        Events
        <div wix-ctrl="Tooltip" wix-options="{placement:'right', text:'In the Events settings, check your Facebook events that you want to share on your calendar. If you are using month mode, you can choose the color of the dot representing each event on the calendar.'}">
          <strong>
            <a class="question">
              ?
            </a>
          </strong>
        </div>
      </h3>
      <div class="acc-content">
        <ul class="list">
          <li class="events-list" ng-repeat="event in eventList">
              <div wix-model="event{{event.id}}" wix-ctrl="Checkbox"></div>
              <div wix-model="event{{event.id}}Color" wix-param="event{{event.id}}Color" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-2'}" class="spacing" style="margin-left: 0.5em; margin-right: 0.5em"></div>
              <span class="uilib-text">{{event.title}}</span>
          </li>
          <li class="events-list">
            <div wix-model="event2" wix-ctrl="Checkbox" class="non-first-events"></div>
            <div wix-model="event2Color" wix-param="eventColor2" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-2'}" class="spacing" style="margin-left: 0.5em; margin-right: 0.5em"></div>
            <span class="uilib-text">Super Bowl Gathering</span>
          </li>
          <li class="events-list">
            <div wix-model="event3" wix-ctrl="Checkbox" class="non-first-events"></div>
            <div wix-model="event3Color" wix-param="eventColor3" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-2'}" class="spacing" style="margin-left: 0.5em; margin-right: 0.5em"></div>
            <span class="uilib-text">World Cup Showing</span>
          </li>
          </ul>
      </div>
    </div>
    <div class="acc-pane">
      <h3>Settings</h3>
      <div class="acc-content">
        <ul class="list">
          <li wix-label="Calendar View" class="toggle-label">
            <div class="onoffswitch calendar-switch">
              <input type="checkbox" name="calendarView" class="onoffswitch-checkbox" id="calendarView"ng-change="handleToggles('view')" ng-model="view" ng-checked="true">
              <label class="onoffswitch-label" for="calendarView">
                <span class="onoffswitch-inner calendar-switch-inner"></span>
                <span class="onoffswitch-switch calendar-switch-switch"></span>
              </label>
            </div>
            <div wix-ctrl="Tooltip" wix-options="{placement:'right', text:'Choose between using a list or a calendar to display your upcoming events.'}">
              <strong>
                <a class="uilib-text toggle-question">
                  ?
                </a>
              </strong>
            </div>
          </li>
          <li wix-label="Commenting" class="toggle-label">
            <div class="onoffswitch">
              <input type="checkbox" name="commentSwitch" class="onoffswitch-checkbox" id="commentSwitch" ng-change="handleToggles('commenting')" ng-model="commenting" ng-checked="true">
              <label class="onoffswitch-label" for="commentSwitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </li>
          <li wix-label="Comment Moderation" class="toggle-label">
            <div class="onoffswitch">
              <input type="checkbox" name="modSwitch" class="onoffswitch-checkbox" id="modSwitch" ng-change="handleToggles('moderating')" ng-model="moderating" ng-checked="false">
              <label class="onoffswitch-label" for="modSwitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
            <div wix-ctrl="Tooltip" wix-options="{placement:'right', text:'Turning this means no posts from site visitors become public until you approve them from the editor. Even if you turn this off, you can still remove public posts from the event.'}">
              <strong>
                <a class="uilib-text toggle-question short-toggle-question">
                  ?
                </a>
              </strong>
            </div>
          </li>
          <li wix-label="Show 'Hosted by'" class="toggle-label">
            <div class="onoffswitch">
              <input type="checkbox" name="hostedSwitch" class="onoffswitch-checkbox" id="hostedSwitch" ng-change="handleToggles('hostedBy')" ng-model="hostedBy" ng-checked="true">
              <label class="onoffswitch-label" for="hostedSwitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
            <div wix-ctrl="Tooltip" wix-options="{placement:'right', text:'Show visitors who is hosting this event. Remember that if you are hosting this event from your personal account, you are sharing your Facebook profile with all your visitors.'}">
              <strong>
                <a class="uilib-text toggle-question short-toggle-question">
                  ?
                </a>
              </strong>
            </div>
          </li>
          <li wix-label="Heading">
            <div wix-model="heading" wix-ctrl="Input" wix-options="{placeholder: 'My Calendar'}"></div>
          </li>
          <li wix-label="Description">
            <div wix-model="description" wix-ctrl="Input" wix-options="{placeholder: 'These are my events.'}"></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="acc-pane">
      <h3>Design</h3>
      <div class="acc-content">
        <ul class="list">
          <li wix-label="Title Font">
            <div wix-param="titleColor" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-14'}"></div>
            <div wix-param="titleFont" wix-ctrl="FontStylePicker" wix-options="{value: 'Heading-L'}"></div>
          </li>
          <li wix-label="Secondary Font">
            <div wix-param="secondaryColor" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-14'}"></div>
            <div wix-param="secondaryFont" wix-ctrl="FontStylePicker" wix-options="{value: 'Body-M'}"></div>
            <div wix-ctrl="Tooltip" wix-options="{placement:'right', text:'In month mode, this is the font of the current month shown. In list mode, this is font of the events and their times.'}">
              <strong>
                <a class="uilib-text question">
                  ?
                </a>
              </strong>
            </div>
          </li>
          <li wix-label="Tertiary Font">
            <div wix-param="tertiaryColor" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-14'}"></div>
            <div wix-param="tertiaryFont" wix-ctrl="FontStylePicker" wix-options="{value: 'Body-M'}"></div>
            <div wix-ctrl="Tooltip" wix-options="{placement:'right', text:'This is the font of the description text. In month mode, it is also the font of the calendar. Note after refreshing that the days of the week automatically switch to abbreviations (e.g. Mon) when the widget is small enough in width.'}">
              <strong>
                <a class="uilib-text question">
                  ?
                </a>
              </strong>
            </div>
          </li>
          <li wix-label="Button Font">
            <div wix-param="buttonColor" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-1'}"></div>
            <div wix-param="buttonFont" wix-ctrl="FontStylePicker" wix-options="{value: 'Body-M'}"></div>
            <div wix-ctrl="Tooltip" wix-options="{placement:'right', text:'The color picker only changes the fontcolor of the outer buttons. The middle button uses the tertiary font color.'}">
              <strong>
                <a class="uilib-text question">
                  ?
                </a>
              </strong>
            </div>
          </li>
          <li wix-label="Background">
              <div wix-param="background" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor: 'color-1', startWithOpacity:100}"></div>
          </li>
          <li wix-label="Border">
            <div wix-param="border" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor: 'color-5', startWithOpacity:100}"></div>
          </li>
          <li wix-label="Outer Buttons">
            <div wix-param="outerButtons" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor: 'color-5', startWithOpacity:100}"></div>
            <div wix-ctrl="Tooltip" wix-options="{placement:'right', text:'This only changes the color of the outer buttons. The middle button uses the background color.'}">
              <strong>
                <a class="uilib-text question button-question">
                  ?
                </a>
              </strong>
            </div>
          </li>
          <li wix-label="Border Width">
            <div  wix-model="borderWidth" wix-ctrl="Slider" wix-options="{minValue: 0, maxValue: 20, preLabel: '0', postLabel: '20', toolTip: true}">
            </div>
          </li>
          <li wix-label="Corners">
            <span class="uilib-text slider-before">Sharp</span>
            <div  wix-model="corners" wix-ctrl="Slider" wix-options="{minValue: 0, maxValue: 30}">
            </div>
            <span class="uilib-text slider-after">Round</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
