.main-body {
  position: relative;
}

.dropper {
  position: absolute;
  height: 85%;
  width: 80%;
  z-index: 3;
  top: 6%;
  left: 8%;
  border: 8px dashed #838486;
  border-radius: 20px;
}

.drop-text {
  display: block;
  font-size: 48px;
  line-height: 55px;
  text-align: center;
  padding-top: 60%;
}

@media all and (min-width: 330px) and (max-width: 500px) {
  .drop-text {
    padding-top: 50%;
  }
}

@media all and (min-width: 500px) and (max-width: 700px) {
  .drop-text {
    padding-top: 30%;
  }
}

@media all and (min-width: 700px) and (max-width: 1000px) {
  .drop-text {
    padding-top: 25%;
  }
}

@media all and (min-width: 1000px) {
  .drop-text {
    padding-top: 18%;
  }
}


.active {
  position: absolute;
  background-color: black;
  top: 28%;
  height: 19%;
  text-align: center;
  width: 100%;
  color: white;
  line-height: 40px;
  z-index: 2;
  border-radius: 0 !important;
}

.popup {
  text-align: center;
  position: absolute;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  border: 1px solid #838486;
  top: 29%;
  left: 8%;
  z-index: 3;
  width: 84%;
  background-color: #EAEAEA;
  max-height: 53%;
  -moz-box-shadow:    1px 1px 4px #7A6969;
  -webkit-box-shadow: 1px 1px 4px #7A6969;
  box-shadow:         1px 1px 4px #7A6969;
}

.popup.ng-hide-add, .popup.ng-hide-remove {
  -webkit-transition:all linear 0.4s;
  -moz-transition:all linear 0.4s;
  -o-transition:all linear 0.4s;
  transition:all linear 0.4s;
  display:block!important;
}

.popup.ng-hide-add.ng-hide-add-active,
.popup.ng-hide-remove {
  opacity:0;
}

.popup.ng-hide-add,
.popup.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

.popup-message {
  display: block;
  margin: 10px;
  margin-bottom: 0;
  text-align: center;
}

.popup-margins {
  margin-bottom: 10px;
}

.popup-list-container {
  overflow-y: scroll;
  overflow-x: hidden;
}

.popup-list {
  display: block;
  text-decoration: none;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  overflow-y: auto; 
  text-overflow: ellipsis;
  max-height: 170px;
}

.popup-list li {
  display: inline;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  overflow-y: scroll; 
}

.popup-button {
  margin: 5px;
  margin-top: 0;
  max-width: 30%;
  margin-bottom: 10px;
}

.block {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #282828;
  text-align: center;
  border: 1px solid #838486;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
}

.end-blocks {
  background-color: #E5E9EE;
  border-bottom: none;
}

.top-block {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.buttons {
  position: relative;
  z-index: 2;
  background-color: #62D8BF;
  color: white;
  width: 40%;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0;
  border-radius: 5px;
  outline: none;
  min-height: 24px;
}

.file-upload {
  position: relative;
}

.file-upload input {
  position: absolute;
  top: 60%;
  right: 0;
  left: 0;
  bottom: 10%;
  cursor: pointer;
  opacity: 0;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  /* For IE Compatibility */
  filter: alpha(opacity=0);
  background-color: red;
  z-index: 2;
}

.title {
  margin-top: 0;
  margin-bottom: 8px;
}

.description {
  margin-top: 0;
  margin-bottom: 7px; 
  min-height: 14px;
}

.files {
  position: relative;
  z-index: 2;
  background-color: white;
  padding-top: 0;
  padding-bottom: 0;
  overflow: auto;
  min-height: 125px;
  max-height: 125px;
  overflow-x: hidden;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
   transition: 0.5s ease;
}

.files-enlarge {
  max-height: 183px;
}

.file-statistics {
  text-align: left;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #838486;
  padding-left: 4px;
}

@media all and (min-width: 450px) {
  .file-statistics {
    padding-left: 20px;
  }
  .space-left {
    margin-right: 40px;
  }
}

.list-files {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.display-files {
  display: block;
}

.files-box-message {
  display: block;
  margin-top: 50px;
}

.retry-message {
  color: red;
}

.file-text {
  text-align: left;
  float: left;
  min-width: 99%;
  width: 95%;
  padding: 3px;
  padding-right: 0;
  padding-top: 4px;
  padding-bottom: 1px;
  padding-left: 5px;
  border: 1px solid #838486;
  border-left: 0;
  border-right: 0;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media all and (min-width: 600px) {
  .file-text {
    width: 100%;
  }
}

.retry-files {
  position: absolute;
  text-indent: 100%;
  overflow: hidden;
  width: 88%;
  color: white;
  text-decoration: none;
}

@media all and (min-width: 400px) and (max-width: 700px) {
  .retry-files {
    width: 92%;
  }
}

@media all and (min-width: 700px) and (max-width: 1000px) {
  .retry-files {
    width: 95%;
  }
}

@media all and (min-width: 1000px) {
  .retry-files {
    width: 97%;
  }
}

.file-info {
  display: inline-block;
  max-width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media all and (min-width: 400px) and (max-width: 650px) {
  .file-info {
    max-width: 80%;
  }
}

@media all and (min-width: 650px) {
  .file-info {
    max-width: 87%;
  }
}

.remove {
  background-image: url(/images/50opacityicon.png);
  background-repeat: no-repeat;
  background-position: 4px, 4px; 
  display: block;
  height: 13px;
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;
  width: 13px;
  float: right;
  padding: 4px;
  padding-top: 0;
  padding-right: 10px;
  margin-left: 4px;
  color: white;
}

.progress-text {
  float: right;
  font-size: 14px;
  color: #282828;
}

.progress {
  height: 3px;
  /* Fallback for even older browsers + Opera 12 & IE9 */
  background-color: green;
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image:
    -webkit-linear-gradient(left, red, orange, yellow, green);
  background-image: 
    linear-gradient(
      to right,
      red,
      orange,
      yellow,
      green
    );
}

.progress span {
  float: right;
  width: 100%;
  background-color: white;
  height: 100%;
  display: block;
}

.hover {
  background-color: #FFFF99 !important;
}

.form-invalid {
  color: red;
}

.input-block {
  position: relative;
  border-top: none;
}

.input-block input {
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
  z-index: 2;
}

.form-input.ng-invalid {
  color: red;
}

.form-input-label {
  position: absolute;
  top: 15px;
  left: 5%;
  width: 90%;
  text-align: left;
  transition: 0.2s;
}

.form-input:focus + label {
  font-size: 11px; 
  bottom: 100%;
  margin-top: -15px;
  color: #62D8BF;
  padding-top: 0;
  padding-bottom: 0;
}

.form-input.ng-pristine + label {
  z-index: 3;
}

.form-input:not(:focus).ng-dirty + label {
  opacity: 0;
}

.message {
  position: relative;
  width: 90%;
  border: none;
  outline: none;
  resize: none;
  overflow: auto;
  z-index: 2;
  height: 70px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.message-box-shrink {
  height: 12px;
}

.submit {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: none;
  border-bottom: 1px solid #838486;
  position: relative;
}

.submit-container {
  position: absolute;
  z-index: 2;
  top: 20px;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.bottom-block {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bottom-buttons {
  padding: 10px;
  min-height: 34px;
}

.bottom-buttons[disabled] {
  opacity: 0.4;
  /* IE compatibility */
  filter: alpha(opacity=0.4);
  padding: 10px;
}

.dot-one {
    opacity: 0;
    -webkit-animation: dot 1.5s infinite;
    -webkit-animation-delay: 0.0s;
    -moz-animation: dot 1.5s infinite;
    -moz-animation-delay: 0.0s;
    -o-animation: dot 1.5s infinite;
    -o-animation-delay: 0.0s;
    animation: dot 1.5s infinite;
    animation-delay: 0.0s;
}

.dot-two {
    opacity: 0;
    -webkit-animation: dot 1.5s infinite;
    -webkit-animation-delay: 0.3s;
    -moz-animation: dot 1.5s infinite;
    -moz-animation-delay: 0.3s;
    -o-animation: dot 1.5s infinite;
    -o-animation-delay: 0.3s;
    animation: dot 1.5s infinite;
    animation-delay: 0.3s;
}

.dot-three {
    opacity: 0;
    -webkit-animation: dot 1.5s infinite;
    -webkit-animation-delay: 0.5s;
    -moz-animation: dot 1.5s infinite;
    -moz-animation-delay: 0.5s;
    -o-animation: dot 1.5s infinite;
    -o-animation-delay: 0.5s;
    animation: dot 1.5s infinite;
    animation-delay: 0.5s;
}

@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
