<div class="loading" ng-cloak="">
  <h3 style="text-align: center">Loading Settings</h3>
</div>

<div ng-controller="SettingsCtrl">
  <header class="box">
    <div class="logo">
      <img width="86" src="images/wix_icon.png">
    </div>
    <div ng-hide="true || false">
      <p>
        Connect your Facebook account. This process is secure and completely private. Wix will not have access to your Facebook password.
      </p>
      <div class="login-panel">
        <p class="create-account">
          Don't have an account?
          <br>
          <strong>
            <a class="link" href="http://www.facebook.com" target="_blank">Create one</a>
          </strong>
        </p>
        <button class="uilib-btn connect">
          Connect account
        </button>
      </div>
    </div>
    <div ng-show="true || false">
      <p>
        <span class="icon-check-mark-circle checkmark" data-icon="a"></span>
        You are now connected to Jeffrey Chan's Facebook account.
      </p>
        <a class="disconnect-account" target="_blank|_parent">
          Disconnect Account
        </a>
    </div>
  </header>
  <div wix-ctrl="Accordion">
    <div class="acc-pane">
      <h3>Events</h3>
      <div class="acc-content">
        <ul class="list">
          <li wix-label="Events on Calendar">
            <div wix-model="event1" wix-ctrl="Checkbox" wix-options="{postLabel:'Wimbledon'}"></div>
            <div wix-param="eventColor1" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-2'}" style="float: right"></div>
            <br>
            <div wix-model="event2" wix-ctrl="Checkbox" wix-options="{postLabel:'Super Bowl'}" class="non-first-events"></div>
            <div wix-param="eventColor2" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-2'}" style="float: right; margin-top: 0.5em"></div>
            <br>
            <div wix-model="event3" wix-ctrl="Checkbox" wix-options="{postLabel:'World Cup'}" class="non-first-events"></div>
            <div wix-param="eventColor3" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-2'}" style="float: right; margin-top: 0.5em"></div>
          </li>
          </ul>
      </div>
    </div>
    <div class="acc-pane">
      <h3>Settings</h3>
      <div class="acc-content">
        <ul class="list">
          <li wix-label="Calendar View" class="toggle-label">
            <div class="onoffswitch">
              <input type="checkbox" name="calendarView" class="onoffswitch-checkbox" id="calendarView" checked>
              <label class="onoffswitch-label" for="calendarView">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </li>
          <li wix-label="Commenting" class="toggle-label">
            <div class="onoffswitch">
              <input type="checkbox" name="commentSwitch" class="onoffswitch-checkbox" id="commentSwitch" checked>
              <label class="onoffswitch-label" for="commentSwitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </li>
          <li wix-label="Comment Moderation" class="toggle-label">
            <div class="onoffswitch">
              <input type="checkbox" name="modSwitch" class="onoffswitch-checkbox" id="modSwitch" checked>
              <label class="onoffswitch-label" for="modSwitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </li>
          <li wix-label="Show 'Hosted by'" class="toggle-label">
            <div class="onoffswitch">
              <input type="checkbox" name="hostedSwitch" class="onoffswitch-checkbox" id="hostedSwitch" checked>
              <label class="onoffswitch-label" for="hostedSwitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </li>
          <li wix-label="Heading">
            <div wix-model="heading" wix-ctrl="Input" wix-options="{placeholder: 'My Calendar'}"></div>
          </li>
          <li wix-label="Description">
            <div wix-model="description" wix-ctrl="Input" wix-options="{placeholder: 'These are my events.'}"></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="acc-pane">
      <h3>Design</h3>
      <div class="acc-content">
        <ul class="list">
          <li wix-label="Heading Font">
            <div wix-param="headingColor" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-15'}"></div>
            <div wix-param="headingFont" wix-ctrl="FontStylePicker"></div>
          </li>
          <li wix-label="Secondary Font">
            <div wix-param="secondaryColor" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-15'}"></div>
            <div wix-param="secondaryFont" wix-ctrl="FontStylePicker" wix-options="{value: 'Body-M'}"></div>
          </li>
          <li wix-label="Tertiary Font">
            <div wix-param="tertiaryColor" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-15'}"></div>
            <div wix-param="tertiaryFont" wix-ctrl="FontStylePicker" wix-options="{value: 'Body-M'}"></div>
          </li>
          <li wix-label="Calendar">
              <div wix-param="calendar" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor: 'color-5', startWithOpacity:100}"></div>
          </li>
          <li wix-label="Background">
              <div wix-param="background" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor: 'color-5', startWithOpacity:100}"></div>
          </li>
          <li wix-label="Border">
            <div wix-param="border" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor: 'color-3', startWithOpacity:100}"></div>
          </li>
          <li wix-label="Border Width">
            <div  wix-model="borderWidth" wix-ctrl="Slider" wix-options="{minValue: 0, maxValue: 10, preLabel: '0', postLabel: '10', toolTip: true}">
            </div>
          </li>
          <li wix-label="Corners">
            <span class="uilib-text slider-before">Sharp</span>
            <div  wix-model="corners" wix-ctrl="Slider" wix-options="{minValue: 0, maxValue: 10}">
            </div>
            <span class="uilib-text slider-after">Round</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
