.app {
  background: rgba(0, 0, 200, 0.0);
}

.nav-btn {
  float: right;
}

.current-view {
  vertical-align: super;
}

@media all and (max-width: 400px) {
  .desktop-calendar {
    display: none !important;
  }
}

#calendar {
  margin-left: 10%;
  z-index: 2;
  background-color: white;
}